
[Desktop Entry]
Version=1.3.0
Encoding=UTF-8
Name=openCONFIGURATOR
Type=Application
GenericName=openCONFIGURATOR
Comment=Graphical User Interface for openCONFIGURATOR
Exec=openCONFIGURATOR
Icon=flair
Categories=Development;
GenericName[en_IN]=openCONFIGURATOR
Name[en_IN]=openCONFIGURATOR
